*.log
*.png
*.jpg
*.dat
*.pyc
*.tar.gz
*.tar
*.pkl
*.bin
*.csv
*.mat
.ipython/
.idea/
Data/
Print/
com/dl/cifar-10/DataCifar
com/dl/faces/DataFaces
Util/all_images
Util/faces
Util/labels
com/dl/faces-classif/DataFaces
Output/
.matplotlib