*.log
*.png
*.jpg
*.dat
*.pyc
*.tar.gz
*.tar
*.pkl
.ipython/
.idea/
Data/
com/dl/cifar-10/DataCifar
com/dl/faces/DataFaces
Util/all_images
Util/faces
Util/labels
com/dl/faces-classif/DataFaces
Output/
com/dl/gpu/sae_example.py
com/dl/gpu/ae_example.py
com/dl/gpu/mlp_example.py
com/dl/gpu/logistic_sgd.py
com/dl/gpu/logistic_sgd.pyc